.header {
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  &__spacer {
    flex: 1;
  }

  &__user {
    font-weight: 500;
    color: #212121;
  }
}
