.shell {
  display: flex;
  min-height: 100vh;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: 24px;
    background-color: #fafafa;
  }
}
